*/[E]externals/*

externals/*

!cache/
cache/*
*/[C]cache/*
**cache/*
**/cache/*
cache/

!mongoCache/
mongoCache/*
**mongoCache/*
**/mongoCache/*
mongoCache/
volumes/*
.git/*
/volumes
volumes/
.env/
env/
/env